body {
  font-family: Arial, Helvetica, sans-serif;
}

.app-main {
  display: flex;
}

.incidents, .incident-counts {
  margin: 1em;
}

.incidents {
  min-width: 500px;
}

.incident {
  padding: 1em;
  margin: 1em 0em;
  border: 1px solid grey;
}

.incident.resolved {
  opacity: 0.5;
  background-color: lightgray;
}

.incident.resolved.tallied {
  background-color: lightcyan;
}

.incident-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.incident-deets {
  display: flex;
  align-items: baseline;
}

.incident-header h2, h4, h5 {
  margin-right: 1em;
  margin-bottom: 0;
  margin-top: 0.25em;
}

.incident-count {
  color: limegreen;
}

.incident-controls a {
  opacity: 0.66;
  margin: 0.33em
}

.incident-controls a:hover {
  opacity: 1.0;
  cursor: pointer;
}

.incident-counts {
  max-width: 30%;
}

.car-incident-count {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0.25em;
  margin: 0.2em;
}

.car-incident-count .tip {
  opacity: 0.0;
}

.car-incident-count:hover .tip, .car-incident-count.selected .tip {
  opacity: 0.5;
}

.car-incident-count:hover, .car-incident-count.selected {
  background-color: bisque;
}